@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
}

header.banner {
  position: relative;
  width: 100%;
  height: 605px;
  box-sizing: border-box;
  border-bottom: 1px solid #33A8DB;
  overflow: hidden;
}

header.banner::before {
  content: '';
  position: absolute;
  top: -127px;
  left: 0;
  width: 100%;
  height: 732px;
  background: url('/assets/images/banner.png') no-repeat center;
  background-size: cover;
  z-index: 0;
}

header.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 605px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.4), rgba(0, 0, 0, 0.6));
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  max-width: 510px;
  margin: 26px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.banner-content .logo img {
  width: 248px;
  height: auto;
  padding: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}

.banner-content h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 27px;
  background: linear-gradient(180deg, #33A8DB, #1472B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.banner-content p {
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  max-width: 510px;
}

.banner-content button {
  background: transparent; 
  transition: 0.3s, color 0.3s;
  border: 1px solid #33A8DB;
  padding: 19px 91px;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.21em;
  color: #31A8DD;
  cursor: pointer;
  ;
}

.banner-content button:hover {
  background: #31A8DD;
  color: #000000;
}

#course-content {
  background-color: #000000;
  color: #FFFFFF;
  padding: 80px 20px;
  text-align: center;
}

#course-content h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.19em;
  color: #33A8DB;
  margin-bottom: 24px;
  text-transform: uppercase;
}

#course-content p {
  max-width: 792px;
  margin: 0 auto 40px;
  font-size: 16px;
  line-height: 1.6;
}

.modules-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.module {
  width: 535px;
  padding: 16px 127px;
  border: 1px solid #33A8DB;
  border-radius: 57px;
  background: #252525;
  box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
  color: #33A8DB;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}


#transform-world {
  background: url('/assets/images/woman-code.png') no-repeat center;
  background-size: cover;
  border-top: 1px solid #33A8DB;
  border-bottom: 1px solid #33A8DB;
  height: 363px;
  display: flex;
  padding: 60px;
  box-sizing: border-box;
  position: relative;
}

#transform-world p {
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  width: 244px;
  max-width: 800px;
  text-align: left;
  text-transform: lowercase;
  color: #FFFFFF;
  text-shadow: 3px 2px 0px #33A8DB;
}

#professional-challenges {
  background-color: #000000;
  text-align: center;
  color: #FFFFFF;
  padding: 80px 20px;
}

#professional-challenges h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-left: 25%;
  width: 746px;
  line-height: 38px;
  letter-spacing: 19%;
  color: #33A8DB;
  margin-bottom: 40px;
  text-transform: uppercase;
}

#professional-challenges img {
  max-width: 659px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 32px;
}

#professional-challenges p {
  max-width: 792px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
  text-align: center;
}

footer {
  background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 100%);
  border-top: 1px solid #33A8DB;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #FFFFFF;
  padding: 20px;
  position: relative;
  text-align: center;
}

footer .dio-logo {
  max-width: 310px;
  height: auto;
}

footer p {
  font-size: 16px;
  line-height: 19px;
}

footer a {
  color: #FFFFFF;
  text-decoration: underline;
}

footer a:hover {
  color: #33A8DB;
}